body {
  text-align: center;
  font-family: Arial;
}

.game {
  width: 220px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  gap: 10px;
}

.card {
  height: 100px;
  background: #444;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}