body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.atm-container {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.balance-box {
    background: #e3f2fd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 {
    margin: 5px 0;
}

.buttons button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #1976d2;
    color: white;
    font-size: 14px;
}

.buttons button:hover {
    background: #0d47a1;
}